{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css"  href=" {% static 'css/agregar.css' %}">

<div class="login-page">
    <h1>Añadir Departamento</h1>
    <div class="form">    
        <form method="post">
            {% csrf_token %}
            <!-- Se installa libreria desde consola pip install django-widget-tweaks
            y se agrega el settings en install apps 'widget_tweaks', 

            este permite colocarle estilos al formulario-->
            {% load widget_tweaks %}
            <div class="form-group" >
                <!-- se crea un ciclo el cual recorre los campos del formulario
                para crear los label, El form que esta en el ciclo for sale de la vista agregar -->
                {% for field in formDpto %}
                <label for="{{ field.id_for_label}}">{{field.label}}</label>
                <!-- crea los inputs de cada label -->
                {% render_field field class="form-control" %}
                {% endfor %}
            </div>
            <button type="submit" class="btn third">Editar</button>
        </form>
    </div>
</div>
<style>
    h1{
        position:relative;
        color: black;
        top:20px;
        margin:0 auto;      
        width:360px;
        padding-bottom: 30px;
    }  
    body{
        background-color: #e2e2e5;
    }
</style>
{% endblock %}