{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/home.css' %}">
<main role="main" class="container">
    <div class="row">
        <div class="col-12">
            <h1>Lista de Departamentos</h1>
            <div class="table-responsive">
                <table class="table " id="tablam">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dpto in Dptos %}
                        {% csrf_token %}
                        <tr>
                            <th scope="row">{{dpto.id}}</th>
                            <th scope="row">{{dpto.nombreDpto}}</th>
                            <td>

                                <button class="editar" onclick="editarDpto({{dpto.id}},'{{dpto.nombreDpto}}')">Editar</button> 
                                <button class="eliminar"><a href="{% url 'eliminarDpto' dpto.id %}">Eliminar</a></button>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <!-- Crear un formulario para editar los Departamentos -->
            <div id="formEditarDpto">


            </div>
        </div>
    </div>
</main>
<style>
    h1{
        position:relative;
        color: black;
        top:20px;
        margin:0 auto;      
        width:400px;
        padding-bottom: 30px;
    }  
    body{
        background-color: #e2e2e5;
    }
    #tablam{
        margin: 0px auto;
        width: 600px;
    }
    
    .editar,.eliminar{
        margin: 0px auto;
        position: relative;
        left: 25%;

    }
    .celdasb .celdasp{
        margin: 0px auto;}

</style>

{% endblock %}