{% extends 'layout.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css"  href=" {% static 'css/agregar.css' %}">
<div class="login-page">
    <h1>Editar Departamentos</h1>
        <div class="form">    
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ dpto }}
                </div>
            <button type="submit" class="btn third">Editar</button>
        </form>
    </div>
</div>
<style>
    h1{
        position:relative;
        color: #00a650;
        top:20px;
        left:15%;
        width:250px;
        padding-bottom: 30px;
    }  
</style>
{% endblock %}