{% extends 'layout.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css"  href=" {% static 'css/home.css' %}">
{% comment %} link de sweatAlert {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/utils/notificacionSwal.js' %}"></script>

<main role="main" class="container">
    <div class="row">
        <div class="col-12">
            <h1>Lista de Cursos</h1>
            <div class="table-responsive" >
                <table class="table " id="tablam">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Departamento</a></th>
                            <th scope="col">Editar / Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in Curso %}
                            <tr>
                                <th scope="row">{{curso.id}}</th>
                                <th scope="row">{{curso.nomCurso}}</th>
                                <th scope="row">{{curso.descripcion}}</th>
                                <th scope="row">{{curso.duracion}}</th>
                                {% if curso.estado %}
                                <th scope="row">Activo</th>
                                {% else %}
                                <th scope="row">Inactivo</th>
                                {% endif %}
                                <th scope="row">{{curso.nombreDpto}}</th>
                                <td>
                                    <button class="editar"><a href="{% url 'editar' curso.id %}">Editar</a></button>
                                    <button class="eliminar"><a  href="{% url 'eliminar' curso.id %}">Eliminar</a></button>
                                    
                                </td>
                            </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</main>
<style>
    h1{
        position:relative;
        color: black;
        top:20px;
        margin:0 auto;      
        width:360px;
        padding-bottom: 30px;
    }  
    body{
        background-color: #e2e2e5;
    }
</style>

{% endblock %}