@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #04943c;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #353a40;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navlinks {
    border: 1px solid red;
    font-size: 20px;

}

.navbar-toggler {
    border: #04943c solid 1px;
}

#navbarSupportedContent {
    border: solid blue 1px;
}

/* aqui se cambia el color a los "a" del navbar */
#titulos a {
    color: white;
    font-size: 20px;
}

#desplegable {
    background-color: #353a40;
}

.logo {
    border: 1px solid red;
}

.navbar-toggler-icon {
    background-color: #04943c;
}

/* --------------------------- estilos de los botones de incio y cerrar sesion ---------------------*/
#login,
#signup {
    border-radius: 5px;
    padding: 4px 5px;
    margin: 5px;
    display: block;
}


#login {
    border: 1px solid #04943c;
}

#signup {
    border: 1px solid #ED413E;
}

#signup a {
    color: #ED413E;
    text-decoration: none;
}

#login a {
    color: #04943c;
    text-decoration: none;
}

/* parte de responsive para los links */
@media (max-width: 800px) {
    h1 {
        margin: 0 auto;
    }

    .logo {
        width: 75px;
        margin: 0 auto;
    }
}